@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$primary-color: #387f7d;
$secondary-color: #c94332;
$light-color: #fafafa;

$main-font: "Source Code Pro", monospace;
$title-font: "Montserrat", sans-serif;
