@import "_utilities.scss";
@import "_config.scss";

.main {
  min-height: 90vh;
  @include flex(row, center, flex-start, 10rem);

  div:first-child {
    h1 {
      font-size: 5rem;
      letter-spacing: 3px;
      line-height: 120px;
      span {
        display: inline-block;
      }

      span:nth-child(2) {
        color: $primary-color;
      }
    }

    p {
      font-size: 1.1rem;
      color: $secondary-color;
      font-weight: bold;
      letter-spacing: 4px;
      margin-top: 2rem;
      text-transform: uppercase;
    }
  }

  div:last-child {
    div:first-child {
      @include flex(row, center, center, 0rem);
      padding: 3px;
      border: 3px solid $secondary-color;
    }
  }
}

@media (max-width: 1400px) {
  .main {
    @include flex(row, center, flex-start, 6rem);
    div:first-child {
      h1 {
        font-size: 4rem;
        line-height: 100px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .main {
    @include flex(row, center, flex-start, 6rem);
    div:first-child {
      h1 {
        font-size: 3rem;
        line-height: 70px;
      }
    }
  }
}

@media (max-width: 900px) {
  .main {
    @include flex(row, center, flex-start, 5rem);
    div:first-child {
      h1 {
        font-size: 2.5rem;
        line-height: 70px;
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    @include flex(column, center, flex-start, 5rem);
    padding-top: 5rem;
    div:first-child {
      h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 70px;
      }

      p {
        font-size: 0.9rem;
        text-align: center;
        letter-spacing: 6px;
        margin-top: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}

.contact {
  padding: 1rem 2rem;
  height: 60px;
  width: 220px;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: $secondary-color;
  color: white;
}
