@import "_utilities.scss";
@import "_config.scss";

.main {
  margin-top: 100px;
  @include flex(row, flex-start, flex-start, 2rem);
  height: auto;
  & > div {
    width: 70%;
    @include flex(column, flex-start, flex-start, 1rem);
    min-height: 700px;
    header {
      width: 100%;
      border-bottom: 3px solid rgba($primary-color, 0.4);
      & > * {
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 1rem;
      }

      div > span {
        font-weight: bold;
        font-style: italic;
      }

      div:last-child {
        @include flex(row, center, flex-start, 2rem);
      }

      div > a {
        @include flex(row, center, flex-start, 0.5rem);
        color: white;
        height: 70px;
        width: 380px;
        cursor: pointer;
        font-size: 1.05rem;
        letter-spacing: 2px;
        padding-left: 20px;

        svg {
          transform: scale(1.2);
        }
      }
    }
    p {
      font-size: 1.1rem;
      text-align: justify;
      line-height: 30px;
      letter-spacing: 2px;
      margin-bottom: 2rem;
    }
  }
}

.githubBtn {
  background-color: #24292f;
}

.demoBtn {
  background-color: $primary-color;
}

.close {
  background-color: $secondary-color;
  @include flex(row, center, flex-start, 0.5rem);
  color: white;
  height: 70px;
  width: 380px;
  cursor: pointer;
  font-size: 1.05rem;
  letter-spacing: 2px;
  border: none;
  padding-left: 20px;
  svg {
    transform: scale(1.2);
  }
}

@media (max-width: 767px) {
  .main {
    margin-top: 20px;
    @include flex(column-reverse, center, flex-start, 3rem);

    & > div {
      @include flex(column, center, flex-start, 1rem);
      width: 100%;
      margin-top: 50px;
      min-height: auto;
      header {
        & > * {
          margin-bottom: 1rem;
        }

        h3 {
          font-size: 1.5rem;
          margin-top: 0.7rem;
          text-align: center;
        }

        div:last-child {
          @include flex(column, center, flex-start, 1rem);
        }

        div > a {
          height: 50px;
          width: 300px;
          cursor: pointer;
          font-size: 0.8rem;
          padding-inline: 10px;

          svg {
            transform: scale(1);
          }
        }
      }

      p {
        font-size: 0.9rem;
        text-align: justify;
        line-height: 20px;
        letter-spacing: 2px;
      }
    }
  }
  .close {
    background-color: $secondary-color;
    @include flex(row, center, flex-start, 0.5rem);
    height: 50px;
    width: 300px;
    font-size: 1.05rem;
    padding-inline: 10px;
  }
}
